<ion-content [fullscreen]="true">
  <div class="conteudo">
    <section class="login_page">
      <!-- <div class="wave">
      <svg 
        data-name="Layer 1"
        xmlns="http://www.w3.org/2000/svg" 
        viewBox="0 0 1200 120" 
        preserveAspectRatio="none">
          <path d="M985.66,92.83C906.67,72,823.78,31,743.84,14.19c-82.26-17.34-168.06-16.33-250.45.39-57.84,11.73-114,31.07-172,41.86A600.21,600.21,0,0,1,0,27.35V120H1200V95.8C1132.19,118.92,1055.71,111.31,985.66,92.83Z" class="shape-fill"></path>
      </svg>
  </div> -->

      <header>

        <svg class="waves" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20962 10620">

          <path class="wave-1" fill="#E3371E" d="M27489 8635c504 1667 831 3818-27 5680s-2901 3434-6193 
          3904-7834-161-12155-589c-4321-427-8421-649-10976-1537-2555-889
          -3565-2443-4071-4061-505-1619-505-3302 938-4835 1442-1533 4327-2916 6274-3122s2958 764 
          3877 1522 1746 1304 2738 1382 2148-312 2976-730 1327-864 2136-1014c810-151 1929-6 2757 206s1363 
          490 1978 775c614 284 1308 574 1947 535s1223-407 1935-875c712-469 1552-1037 2240-1266 688-228 1223-117 
          1832 530 608 646 1290 1828 1794 3495z" />

        </svg>

      </header>
      <ion-row>
        <ion-col size="12">
          <a routerLink="/inicio"><img src="../../assets/img/dashboard flavor/logo nova 2023/com fundo/logo com fundo.png" width="180px"
            alt="logo do site"></a>
        </ion-col>
      </ion-row>

      <ion-row>

        <ion-col size="12" size-xl="6">
          <div class="back-dark"></div>
           <ion-row>
            <ion-col size="12">
              <h3>Cadastro</h3>
            </ion-col>
            <ion-col size="12">
              <ion-input class="text_input" label="Nome" label-placement="floating" fill="outline"></ion-input>
            </ion-col>
            <ion-col size="12">
              <ion-input class="text_input" label="E-mail" label-placement="floating" fill="outline"></ion-input>
            </ion-col>
            <ion-col size="12">
              <ion-input class="text_input" label="Senha" type="password" label-placement="floating" fill="outline"></ion-input>
            </ion-col>
            <ion-col size="12">
              <p>Já possui Cadastro? <br> Faça seu Login <a routerLink="/login">aqui</a></p>
            </ion-col>
            <ion-col size="12" class="ion-text-center">
              <a routerLink="/login"><ion-button class="btn_input ion-text-center" color="danger" (click)="setOpen(true)">Cadastre-se</ion-button></a>
            </ion-col>
          </ion-row>  
          <ion-alert [isOpen]="isAlertOpen" header="Cadastro Realizado com Sucesso!" [buttons]="alertButtons" (didDismiss)="setOpen(false)" class="alert-cadastro"></ion-alert>
        </ion-col>

        <ion-col size="12" size-xl="6">
          <img src="../../assets/img/sem fundo.png" width="400px" alt="" class="img_cadastro">
        </ion-col>

      </ion-row>
    </section>
  </div>
</ion-content>