@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');

* {
  // outline: 1px solid red;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ion-header {
  // text-align: center;
  // margin-top: 2%;
  background: none;
}

ion-header .img-logo{
  left: 0%;
}

.imagem-fundo {
  // display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url('../../assets/img/imagem-fundo.jpeg') no-repeat;
  background-size: cover;
  background-position: center;
}

.navigation{
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation a {
  position: relative;
  font-size: 1.5em;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  margin-left: 40px;
}

.navigation a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 3px;
  background: #fff;
  border-radius: 5px;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .5s;
}

.navigation a:hover::after {
  transform-origin: left;
  transform: scaleX(1);
}

.navigation .btnLogin {
  width: 130px;
  height: 50px;
  --background: transparent;
  border: 2px solid #fff;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1.1em;
  color: #fff;
  font-weight: 500;
  margin-left: 15%;
  transition: .5s;
}

.navigation .btnLogin:hover {
  background: #fff;
  color: #162938;
}

.navigation p {
  position: relative;
  // display: flex;
  font-size: 1.4em;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  top: 40%;
}

// .navigation .img-logo {
//   margin-left: 0;
// }

.wrapper {
  margin-left: auto;
  margin-right: auto;
  top: 33%;
  margin-top: 10vh;
  z-index: 10;
  position: relative;
  width: 400px;
  height: 440px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, .5);
  border-radius: 20px;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 30px rgba(0, 0, 0, .5);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transform: scale(0);
  transition: transform .5s ease, height .2s ease;
}

.wrapper.active-popup {
  transform: scale(1);
}

.wrapper.active {
  height: 520px;
}

.wrapper .form-box {
  width: 100%;
  padding: 40px;
}

.wrapper .form-box.login {
  transition: transform .18s ease;
  transform: translateX(0);
}

.wrapper.active .form-box.login {
  transition: none;
  transform: translateX(-400px);
}

.wrapper .form-box.register {
  position: absolute;
  transform: translateX(400px);
}

.wrapper.active .form-box.register {
  transition: transform .18s ease;
  transform: translateX(0);
}

.wrapper .icon-close {
  position: absolute;
  top: 0;
  right: 0;
  width: 45px;
  height: 45px;
  background: #F27405;
  font-size: 2em;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 20px;
  cursor: pointer;
  z-index: 1;
}

.form-box h2 {
  font-size: 2em;
  color: #fff;
  text-align: center;
}

.input-box {
  position: relative;
  width: 100%;
  height: 50px;
  // border-bottom: 2px solid #162938;
  margin: 30px 0;
  --background: none;
  color: white;
}

.input-fill-solid.sc-ion-input-md-h {
  --background: none;
  --border-bottom: #F27405;
}

.sc-ion-input-md-h {
  --highlight-color: #F27405;
}

.input-box label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  font-size: 1em;
  // color: #162938;
  font-weight: 500;
  pointer-events: none;
  transition: .5s;
}

.input-box ion-input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  // color: #162938;
  font-weight: 600;

}

.input-box ion-input:focus~label,
.input-box ion-input:valid~label {
  top: -5px;
}

.input-box .icon {
  position: absolute;
  right: 8px;
  font-size: 1.2em;
  color: #fff;
  line-height: 57px;
}

.remmember-forgot {
  font-size: .9em;
  color: #fff;
  font-weight: 500;
  margin: -15px 0 15px;
  display: flex;
  justify-content: space-between;
}

.remmember-forgot label ion-input {
  accent-color: #fff;
  margin-right: 3px;
}

.remmember-forgot a {
  color: #F27405;
  text-decoration: none;
}

.remmember-forgot a:hover {
  text-decoration: underline;
}

.btn {
  width: 100%;
  height: 45px;
  --background: #F27405;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1em;
  color: #fff;
  font-weight: 500;
}

.login-register {
  font-size: .9em;
  color: #fff;
  text-align: center;
  font-weight: 500;
  margin: 25px 0 10px;
}

.login-register p a {
  color: #F27405;
  text-decoration: none;
  font-weight: 600;
}

.login-register p a:hover {
  text-decoration: underline;
}

.conteudo-top {
  margin-top: -25%;

  & .conteudo-text {
    width: 100%;
  }

  & .text-title-top {
    font-size: 4em;
    font-family: 'Merriweather', serif;
    font-weight: bold;
    color: white;
  }

  & .text-title-second {
    margin-top: 10px;
    font-size: 0.8em;
    color: white;
  }

  & ion-button {
    margin-top: 20px;
    --background: #F27405;
    font-weight: bold;
    color: white;
    font-size: 1.2em;
  }
}

ion-card {
  border: 3px solid black;
}

.card_sobrenos {
  width: 450px;
  height: 500px;
  margin: 10%;
  left: 40%;
  border: 3px solid black;
}

.img_sobrenos {
  margin-top: 43%;
  margin-left: 12%;
  width: 400px;
}

.img_erva_sobrenos {
  margin-top: 78%;
  margin-left: -115%;
}

.card_sobrenos h2 {
  margin: 3%;
  text-align: center;
  font-weight: 500;
  color: black;
  font-weight: bold;
  font-size: 3em;
}

.card_sobrenos p {
  margin: 4%;
  padding: 4%;
  font-weight: 500;
  color: #000000;
  text-align: center;
  font-size: 1.3em;
}

.card_sobre {
  text-align: center;
  width: 100%;
  height: 500px;
  // margin: 10% 8%;
  margin: 20% 8%;
}

.card_sobre h2 {
  margin: 3%;
  text-align: center;
  font-weight: 500;
  color: black;
  font-weight: bold;
  font-size: 3em;
}

.card_sobre p {
  margin: 4%;
  padding: 4%;
  font-weight: 500;
  color: #000000;
  text-align: center;
  font-size: 1.3em
}

.card_sobre_elevado {
  margin-top: 10%;
  text-align: center;
  width: 300px;
  height: 450px;
}

.card_img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 8%;
}

.card_sobre_elevado h2 {
  margin: 3%;
  text-align: center;
  font-weight: 500;
  color: black;
  font-weight: bold;
  font-size: 3em;
}

.card_sobre_elevado p {
  margin: 4%;
  padding: 4%;
  font-weight: 500;
  color: #000000;
  text-align: center;
  font-size: 1.3em
}

ion-footer {
  margin-top: 5%;

  & .footer-top {
    background-color: black;

    & .col-footer-2 {
      margin-top: 50px;

      & .img-footer {
        margin-top: 10%;
      }

      & h2 {
        color: white;
        margin-top: 50px;
        font-weight: bold;
        font-size: 1.2em;
      }

      & ion-label {
        color: rgb(160, 159, 159);
      }

      img {
        margin: 2%;
      }
    }

    & .col-footer-3 {
      margin-top: 50px;

      h2 {
        color: white;
        margin-top: 50px;
        font-weight: bold;
        font-size: 1.2em;
      }

      ion-label {
        color: rgb(160, 159, 159);
      }
    }

    & .col-footer-4 {
      margin-top: 50px;

      h2 {
        color: white;
        margin-top: 50px;
        font-weight: bold;
        font-size: 1.2em;
      }

      ion-label {

        color: rgb(160, 159, 159);
      }
    }

    & .col-footer-5 {
      margin-top: 50px;

      h2 {
        color: white;
        margin-top: 50px;
        font-weight: bold;
        font-size: 1.2em;
      }

      ion-label {

        color: rgb(160, 159, 159);
      }

      img {
        margin: 2%;
      }
    }

    & .col-footer-6 {
      margin-top: 100px;
    }
  }

  & .footer-bottom {
    height: 100px;
    background-color: black;

    & .text-footer {
      margin-top: 50px;

      & ion-label {
        color: white;
      }
    }

  }
}

@media (max-width: 400px) {

  *{
    margin: 0;
    padding: 0;
    // outline: 1px solid salmon;
  }

  ion-menu {
    backdrop-filter: blur(20px);
  }

  ion-toolbar {
    --background-color: transparent;
    --ion-color-base: transparent !important;
    }

  .imagem-fundo {
    // display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('../../assets/img/imagem-fundo.jpeg') no-repeat;
    background-size: cover;
    background-position: center;
  }

  .text_logo{
    font-size: 1.6em;
    font-weight: 600;
  }

  .text_welcome{
    text-align: center;
    margin-bottom: 50%;
  }

  .text_welcome h1{
    margin: 1%;
    color: #fff;
    font-size: 1.5em;
    font-weight: 700;
  }

  .btn_menu{
    --background: #F27405;
    font-size: 1.3em;
    font-weight: bold;
    margin-top: 5%;
  }

  .navigation_menu{
    display: flex;
    text-decoration: none;
    font-size: 1.5em;
    margin-top: 20%;
    margin: 5%;
    color: #fff;
  }

  .card_sobrenos_mobile {
    width: auto;
    height: auto;
    margin: 5%;
    // left: 40%;
    border: 3px solid black;
  }

  .card_sobrenos_mobile h2 {
    margin: 3%;
    text-align: center;
    font-weight: 500;
    color: black;
    font-weight: bold;
    font-size: 3em;
  }
  
  .card_sobrenos_mobile p {
    margin: 4%;
    padding: 4%;
    font-weight: 500;
    color: #000000;
    text-align: center;
    font-size: 1.3em;
  }
  
  .card_sobre_mobile {
    text-align: center;
    width: 100%;
    height: 500px;
    // margin: 10% 8%;
    margin: 20% 8%;
  }
  
  .card_sobre_mobile h2 {
    margin: 3%;
    text-align: center;
    font-weight: 500;
    color: black;
    font-weight: bold;
    font-size: 3em;
  }
  
  .card_sobre_mobile p {
    margin: 4%;
    padding: 4%;
    font-weight: 500;
    color: #000000;
    text-align: center;
    font-size: 1.3em
  }

 .footer{
  height: 50vh;
  background: #000000;
 }

 .contact{
  text-align: center;
  margin-top: 6%;
  color: #fff;
 }

 .combos_promocoes{
  margin-top: 6%;
  color: #fff;
  text-align: center;
 }

 .pagina{
  margin-top: 20%;
  color: #fff;
  text-align: center;
  text-decoration: none;
 }

 .pagina p a{
  color: #fff;
  text-decoration: none;
  font-size: 1.2em;
  font: 500;
 }

 .local{
  margin-top: 20%;
  color: #fff;
  text-align: center;
 }

 .local img{
  margin-top: 5%;
  margin: 3%;
 }

}

// .card_img{
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   width: 180px;
//   height: 180px;
//   border-radius: 50%;
// }



// .ion-segment{
//   --indicator-color: #F29F05;
// }
// .conteudo-card{
//   background-color: #000080;
//   & .card-mid-top{

//       & ion-card{
//           height: 200px;
//           margin: 20px;
//           & h1{
//               font-weight: bold;
//               font-size: 2em;            
//           }
//       }
//   }
// }
// .card-mid{
//   margin-top: 5%;
//   & .item-mid{
//       margin-bottom: 5%;
//       margin-left: 10%;
//       margin-right: 10%;
//       background-color:  #F29F05;
//       border-radius: 20px;
//       & ion-card{
//           height: 150px;
//           margin-top: 40px;
//           margin-left: 10px;
//           & .text-title-card{
//               & ion-label{
//                   font-size: 1.5em;
//                   font-weight: bold;
//                   color: black;
//               }
//           }
//           & .text-title-second-card{
//               margin-top: 40%;
//               & ion-label{
//                   font-weight: bold;
//                   font-size: 1.5em;
//                   color: black;
//               }              
//           }
//           & .text-title-card-2{
//               & ion-label{
//                   color: white;
//                   font-size: 1.5em;
//                   font-weight: bold;
//               }
//           }
//           & .text-title-second-card-2{
//               margin-top: 40%;
//               & ion-label{
//                   color: white;
//                   font-size: 1.5em;
//                   font-weight: bold;
//               }              
//           }
//           & .text-title-card-4{             
//               & ion-label{
//                   color: black;
//                   font-size: 1.2em;
//                   font-weight: bold;
//               }              
//           }
//           & .text-title-card-5{    
//               margin-top: 5px;         
//               & ion-label{
//                   color: black;
//                   font-size: 1.2em;
//                   font-weight: bold;
//               }              
//           }
//           & .button-card-5{
//               margin-top: 20px;
//           }
//           & .img-card-1{
//               margin-top: 15%;
//               border-radius: 50px;
//               width: 120px;
//               height: 80px;
//               background-color: #F29F05;
//           }   
//           & .img-card-2 {
//               margin-top: 15%;
//               border-radius: 50px;
//               width: 120px;
//               height: 80px;
//               background-color: white;
//           }   
//           & .img-card-3 {
//               margin-top: 15%;
//               border-radius: 50px;
//               width: 120px;
//               height: 80px;
//               background-color: rgb(168, 166, 166);
//           }   
//           & .img-card-4 {
//               border-radius: 50px;
//               width: 40px;
//               height: 60px;
//               background-color: rgb(252, 250, 250);
//           }   
//           & .img-card-5{
//               margin-left: 20px;

//           }   
//       }
//       & .card-bottom{
//           height: 90px;
//           margin-top: 20px;
//           margin-bottom: 40px;
//       }
//   }
// }
// .sobre-nos{
//   background-color: rgb(252, 250, 250);
//   & .row-sobre{
//       & .text-title-sobre{
//           font-size: 2em;
//           font-family: 'Merriweather', serif;    
//           font-weight: bold;
//           margin-top: 20px;
//       }
//       & .text-title-second-sobre{
//           font-size: 1.2em;
//           margin-top: 10px;
//           margin-bottom: 40px;
//       }
//   }
// }
// ion-footer{ 
//   & .footer-top{
//       background-color: black;      
//       & .col-footer-2{
//           margin-top: 50px;
//           & .img-footer{
//               margin-top: 10%;
//           }
//           & h2{
//               color: white;
//               margin-top: 50px;
//               font-weight: bold;
//               font-size: 1.2em;
//           }
//           & ion-label{               
//               color: rgb(160, 159, 159);
//           }
//       }  
//       & .col-footer-3{
//           margin-top: 50px;
//           h2{
//               color: white;
//               margin-top: 50px;
//               font-weight: bold;
//               font-size: 1.2em;
//           }
//           ion-label{   
//               color: rgb(160, 159, 159);
//           }
//       }  
//       & .col-footer-4{
//           margin-top: 50px;
//           h2{
//               color: white;
//               margin-top: 50px;
//               font-weight: bold;
//               font-size: 1.2em;               
//           }
//           ion-label{

//               color: rgb(160, 159, 159);
//           }
//       }  
//       & .col-footer-5{
//           margin-top: 50px;
//           h2{
//               color: white; 
//               margin-top: 50px;
//               font-weight: bold;
//               font-size: 1.2em;              
//           }
//           ion-label{

//               color: rgb(160, 159, 159);
//           }
//       }  
//       & .col-footer-6{
//           margin-top: 100px;
//       }
//   }
//   & .footer-bottom{
//       height: 100px;
//       background-color: red;
//       & .text-footer{
//           margin-top: 50px;
//           & ion-label{           
//           color: white;
//           }   
//       }

//   }
// }