*{
    // outline: 1px solid salmon;
}

h3{
    font-size: 2em;
    text-align: center;
    margin-top: 5%;
    color: white;
}

p{
    margin-top: 3%;
    text-align: center;
    color: white;
}

.text_input{
    width: 30vh;
    margin-top: 3%;
    left: 35%;
    color: white;
    --border-radius: 10px;
}

.btn_input{
    // align-items: center;
    --background: #F28705;
    --border-radius: 10px;
}

.back-dark{
    position: absolute;
    height: 45vh;
    width: 45vh;
    left: 28%;
    background-color: rgb(61, 61, 61);
    opacity: 0.9;
    border-radius: 10px;
    z-index: -1;
}

.wave {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
    z-index: -1;
}

.wave svg {
    position: relative;
    display: block;
    width: calc(123% + 1.3px);
    height: 650px;
}

.wave .shape-fill {
    fill: #F28705;
}