<ion-content [fullscreen]="true">
  <section class="login_page">
    <div class="wave">
      <svg 
        data-name="Layer 1"
        xmlns="http://www.w3.org/2000/svg" 
        viewBox="0 0 1200 120" 
        preserveAspectRatio="none">
          <path d="M985.66,92.83C906.67,72,823.78,31,743.84,14.19c-82.26-17.34-168.06-16.33-250.45.39-57.84,11.73-114,31.07-172,41.86A600.21,600.21,0,0,1,0,27.35V120H1200V95.8C1132.19,118.92,1055.71,111.31,985.66,92.83Z" class="shape-fill"></path>
      </svg>
  </div>

      <ion-row>
        <ion-col size="12"> <img src="../../assets/img/dashboard flavor/logo nova 2023/sem fundo/logo sem fundo.png" width="180px" alt=""></ion-col>
      </ion-row>

    <ion-row>
      
      <ion-col size="6" class="ion-text-center"> 

          <div class="back-dark"></div>

          <h3>Login</h3>

          <ion-input class="text_input" label="E-mail" label-placement="floating" fill="outline"></ion-input> 
          <ion-input class="text_input" label="Senha" label-placement="floating" fill="outline"></ion-input> 
          <p>Não possui Login? <br> Cadastre-se <a href="#">aqui</a></p>
          <ion-button class="btn_input">Login</ion-button>

      </ion-col>

      <ion-col size="6"> 
        <img src="../../assets/img/hamburger.png" width="480px" alt="">
      </ion-col>

    </ion-row>
  </section>
</ion-content>