.c-grafico{
    height: 50%;
    width: 50%;
    border: 1px solid black;
}
ion-header{
    & ion-icon{
        margin-right: 10px;
        font-size: 2em;
    }
}
.icons{
    background-color:  #F29F05;
    width: 30px;
    border-radius: 15px;
}