<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu Content</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding"></ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <img src="../../assets/logo branco e preto/preto.png" alt="logo" width="100px">
      <ion-icon name="help-circle-outline" slot="end"></ion-icon>
      <ion-icon name="notifications-outline" slot="end"></ion-icon>
    </ion-toolbar>   
  </ion-header>
  <ion-content class="ion-padding">
  <ion-row class="ion-justify-content-center">  
    <ion-col size="2">
      <ion-row class="icons">
        <ion-col size="12">
          <ion-icon name="mail-outline" class="icon1"></ion-icon> <br/>
          <ion-icon name="document-text-outline"  (click)="setOpen(true)" class="icon2"></ion-icon> <br/>
          <ion-icon name="receipt-outline" (click)="setOpen2(true)" class="icon3"></ion-icon> <br/>
          <ion-icon name="location-outline" class="icon4"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-col>
      <ion-col size="10">
        <ion-row>
          <ion-col size="4">
            <ion-card>
              <ion-card-header>
                <ion-row>
                  <ion-col size="6">NOVAS MENSAGENS</ion-col>
                  <ion-col size="6" class="ion-text-end"><ion-icon name="chatbubble-ellipses"></ion-icon></ion-col>
                </ion-row>
              </ion-card-header>   
              <ion-card-content> 
                <ion-row>
                  <ion-col size="12">
                    <h1>85</h1>
                  </ion-col>
                  <ion-col size="12">
                    <ion-label>TAXA DE RESPOSTA</ion-label>
                  </ion-col>
                </ion-row>
              </ion-card-content>
            </ion-card>
          </ion-col>
          <ion-col size="4">
            <ion-card>
              <ion-card-header>
                <ion-row>
                  <ion-col size="6">NOVAS METAS</ion-col>
                  <ion-col size="6" class="ion-text-end">
                    <ion-icon name="receipt-outline"></ion-icon>
                  </ion-col>
                </ion-row>
              </ion-card-header>   
              <ion-card-content> 
                <ion-row>
                  <ion-col size="6">
                    <h1>21</h1>
                    <ion-label>67% META DIÁRIA</ion-label><br/>
                    <ion-label>72 ESSA SEMANA</ion-label>
                  </ion-col>
                  <ion-col size="6"> 
                    <div class="grafico_card-2">
                      <canvas #meuCanvas></canvas>
                    </div>
                  </ion-col>
                </ion-row>
              </ion-card-content>
            </ion-card>
          </ion-col>
          <ion-col size="4">
            <ion-card>
              <ion-card-header>
                <ion-row>
                  <ion-col size="6">NOVAS MENSAGENS</ion-col>
                  <ion-col size="6" class="ion-text-end"><ion-icon name="chatbubble-ellipses"></ion-icon></ion-col>
                </ion-row>
              </ion-card-header>   
              <ion-card-content> 
                <ion-row>
                  <ion-col size="12">
                    <h1>85</h1>
                  </ion-col>
                  <ion-col size="12">
                    <ion-label>TAXA DE RESPOSTA</ion-label>
                  </ion-col>
                </ion-row>
              </ion-card-content>
            </ion-card>
          </ion-col>

          <ion-col size="10">
            <div class="grafico-main-t">
              <canvas #graficoMain class="grafico-main"></canvas>
            </div>
          </ion-col>
         
        </ion-row>
      </ion-col>
  </ion-row>

    <ion-modal [isOpen]="isModalOpen">
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-row>
              <ion-col size="4">
                <ion-title>Nome</ion-title>
              </ion-col>
              <ion-col size="4">
                <ion-title>Email</ion-title>
              </ion-col>
            </ion-row>
            <ion-buttons slot="end">
              <ion-button (click)="setOpen(false)"><ion-icon name="close-outline"></ion-icon></ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
        <ion-content class="ion-padding">
          <ion-row>
            <ion-col size="4">
              <ng-container *ngFor="let usuarios of this.usuarios">
                <ion-item>
                  <ion-row>
                    <ion-icon name="person-circle-outline"></ion-icon>
                  </ion-row>
                </ion-item>
              </ng-container>
            </ion-col>
            <ion-col size="4">
              <ng-container *ngFor="let usuarios of this.usuarios">
                <ion-item>
                  <ion-row>
                      <ion-label>{{ usuarios.Nome }}</ion-label>
                  </ion-row>
                </ion-item>
              </ng-container>
            </ion-col>
          </ion-row>
        </ion-content>
      </ng-template>
    </ion-modal>

    <ion-modal [isOpen]="isModalOpen2" class="modal-pedidos">
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-row>
                <ion-title>Pedidos</ion-title>
            </ion-row>
            <ion-buttons slot="end">
              <ion-button (click)="setOpen2(false)"><ion-icon name="close-outline"></ion-icon></ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
        <ion-content class="ion-padding">
          <ng-container *ngFor="let usuarios of this.usuarios">
            <ion-item>
              <ion-label>{{usuarios.CodFun}} Pedido</ion-label>
              <ion-button shape="round" color="none" class="button-ped">Ver pedido completo</ion-button>
            </ion-item>
          </ng-container>
        </ion-content>
      </ng-template>
    </ion-modal>
  </ion-content>
</div>

<!-- update teste -->
