ion-header{
    & ion-icon{
        margin-right: 10px;
        font-size: 3em;
    }
    & ion-menu-button{
        font-size: 5em;
    }
}
.icons{
    margin-top: 50%;
    background-color:  #D92D07;
    width: 30%;
    height: 45%;
    border-radius: 15px;
    & ion-icon{
        color: white;
        font-size: 3em;
        margin-bottom: 25px;
        cursor: pointer;
    }
}
ion-card{
    height: 200px;
    box-shadow: 1px 1px 1px rgba(36, 35, 35, 0.39);
    & h1{
        font-size: 2.5em;
        margin-bottom: 20px;
    }
    & .grafico_card-2{
        margin: 0;
        width: 50%;
    }
}

.button-ped{
    height: 35px;
    border-radius: 15px;
    background-color: #D92D07;
}
