<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu Content</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding"></ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <img src="../../assets/logo branco e preto/preto.png" alt="logo" width="64px">
      <ion-icon name="help-circle-outline" slot="end"></ion-icon>
      <ion-icon name="notifications-outline" slot="end"></ion-icon>
    </ion-toolbar>   
  </ion-header>
  <ion-content class="ion-padding">
    <div style="width: 50%; height: 50%; margin-left: 10%;">
      <canvas #meuCanvas></canvas>
    </div>
  </ion-content>
</div>