<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-row class="link-meu">
      <ion-col size="12">
        <a href="../home/home.page.html">Cardapio</a>
      </ion-col>
      <ion-col size="12">
        <a href="#">Fale Conosco</a>
      </ion-col>
      <ion-col size="12">
        <a href="#">Termos de Uso</a>
      </ion-col>
      <ion-col size="12">
        <a href="../politica/politica.page.html">Politica de Privacidade</a>
      </ion-col>
      <ion-col size="12">
        <a href="#">Login</a>
      </ion-col> 
  </ion-row>
  </ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <a href="../home/home.page.html" slot="end"><img src="../../assets/logo nova tcc/sem fundo/sem fundo 2.png" alt="logo" width="120px"></a>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding"> 
  
    <ion-segment (ionChange)="trocarElemento($event)">
      <ion-segment-button value="lanches">
        <ion-label>LANCHES</ion-label>
      </ion-segment-button>
      <ion-segment-button value="porcoes">
        <ion-label>PORÇÕES</ion-label>
      </ion-segment-button>
      <ion-segment-button value="bebidas">
        <ion-label>BEBIDAS</ion-label>
      </ion-segment-button>
    </ion-segment>
   
    <ng-container *ngFor="let produto of this.produtos">
      <ng-container *ngIf="produto.type == 'lanche'">
        <ion-row class="ion-text-center">
          <ion-col size="12">
            <ion-text>
              <h1>Lanche</h1>
            </ion-text>
          </ion-col>
        </ion-row>
        <ion-row class="ion-justify-content-center">
            <ng-container *ngIf="produto.enabled">
              <ng-container *ngIf="produto.price">
                <ion-col size-xs="6" size-md="4" size-lg="3" size-xl="2">
                  <ion-card>
                    <img src="{{ produto.image }}" width="300px" height="300px"/>
                    <ion-card-header>
                      <ion-card-title>{{ produto.description }}</ion-card-title>
                      <ion-card-subtitle>
                        <ion-row>
                          <ion-col>
                            <ion-label>
                              <h2 class="price"> R$ {{ produto.price }}</h2>
                            </ion-label>
                          </ion-col>
                          <ion-col size="auto" class="ion-text-end" >
                            <ng-container *ngIf="produto.selected">
                              <ion-icon name="remove-outline" (click)="selected(produto.id, produto.selected)"></ion-icon>
                              <ion-icon name="add-outline"></ion-icon>
                            </ng-container>
                            <ng-container *ngIf="!produto.selected">
                                <ion-input label="Qtde" type="number" placeholder="000" ></ion-input>
                              <ion-icon name="add-outline" (click)="selected(produto.id, produto.selected)"></ion-icon>
                            </ng-container>
                          </ion-col>
                        </ion-row>
                      </ion-card-subtitle>
                    </ion-card-header>      
                    <ion-card-content>
                      {{ produto.items }}
                    </ion-card-content>
                  </ion-card>
                </ion-col>
              </ng-container>
            </ng-container>
        </ion-row>
      </ng-container>
    </ng-container>
    <!-- <ng-container *ngIf="trocarElement == 'lanches'">
    
  </ng-container>
  
    
    <ng-container *ngIf="trocarElement == 'porcoes'">
    <ion-row class="ion-text-center">
      <ion-col size="12">
        <ion-text>
          <h1>Porções</h1>
        </ion-text>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ng-container *ngFor="let porcao of this.porcoes">
        <ng-container *ngIf="porcao.enabled">
          <ng-container *ngIf="porcao.price">
            <ion-col size-xs="6" size-md="4" size-lg="3" size-xl="2">
              <ion-card>
                <img src="{{ porcao.image }}" width="400px" height="400px"/>
                <ion-card-header>
                  <ion-card-title>{{ porcao.description }}</ion-card-title>
                  <ion-card-subtitle>
                    <ion-row>
                      <ion-col>
                        <ion-label>
                          <h2 class="price"> R$ {{ porcao.price }}</h2>
                        </ion-label>
                      </ion-col>
                      <ion-col size="auto" class="ion-text-end" (click)="selected2(porcao.id, porcao.selected)">
                        <ng-container *ngIf="porcao.selected">
                          <ion-icon name="remove-outline"></ion-icon>
                        </ng-container>
                        <ng-container *ngIf="!porcao.selected">
                          <ion-icon name="add-outline"></ion-icon>
                        </ng-container>
                      </ion-col>
                    </ion-row>
                  </ion-card-subtitle>
                </ion-card-header>      
                <ion-card-content>
                  {{ porcao.items }}
                </ion-card-content>
              </ion-card>
            </ion-col>
          </ng-container>
        </ng-container>
      </ng-container>
    </ion-row>
  </ng-container>
    

    <ng-container *ngIf="trocarElement == 'bebidas' ">
    <ion-row class="ion-text-center">
      <ion-col size="12">
        <ion-text>
          <h1>Bebidas</h1>
        </ion-text>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ng-container *ngFor="let bebida of this.bebidas">
        <ng-container *ngIf="bebida.enabled">
          <ng-container *ngIf="bebida.price">
            <ion-col size-xs="6" size-md="4" size-lg="3" size-xl="2">
              <ion-card>
                <img src="{{ bebida.image }}" width="400px" height="400px"/>
                <ion-card-header>
                  <ion-card-title>{{ bebida.description }}</ion-card-title>
                  <ion-card-subtitle>
                    <ion-row>
                      <ion-col>
                        <ion-label>
                          <h2 class="price"> R$ {{ bebida.price }}</h2>
                        </ion-label>
                      </ion-col>
                      <ion-col size="auto" class="ion-text-end" (click)="selected3(bebida.id, bebida.selected)">
                        <ng-container *ngIf="bebida.selected">
                          <ion-icon name="remove-outline"></ion-icon>
                        </ng-container>
                        <ng-container *ngIf="!bebida.selected">
                          <ion-icon name="add-outline"></ion-icon>
                        </ng-container>
                      </ion-col>
                    </ion-row>
                  </ion-card-subtitle>
                </ion-card-header>      
                <ion-card-content>
                  {{ bebida.items }}
                </ion-card-content>
              </ion-card>
            </ion-col>
          </ng-container>
        </ng-container>
      </ng-container>
    </ion-row>
  </ng-container>
    
    <ng-container *ngIf="this.hasCartItem">
      <ng-container *ngIf="this.hasCartItem.length > 0">
      <div class="cart">
        <div class="cart-header" (click)="upDownCart()">
          <p>Carrinhos <span>({{ this.hasCartItem.length }})</span></p>
          <ng-container *ngIf="this.showCart">
            <ion-icon name="caret-down-outline"></ion-icon>
          </ng-container>
          <ng-container *ngIf="!this.showCart">
            <ion-icon name="caret-up-outline"></ion-icon>
          </ng-container>
        </div>
        <div #cart class="card-content">
          <ng-container *ngFor="let lanche of this.lanches">
            <ng-container *ngIf="lanche.selected">
              <ion-item>
                <ion-icon name="trash-outline" slot="start" (click)="selected(lanche.id, lanche.selected)"></ion-icon>
                <ion-thumbnail slot="start">
                  <img src="{{ lanche.image }}">
                </ion-thumbnail>
                <ion-label>{{ lanche.description }}</ion-label>
                <ion-label>R$ {{ lanche.price }}</ion-label>
              </ion-item>
            </ng-container>
          </ng-container>
          <ng-container *ngFor="let porcao of this.porcoes">
            <ng-container *ngIf="porcao.selected">
              <ion-item>
                <ion-icon name="trash-outline" slot="start" (click)="selected2(porcao.id, porcao.selected)"></ion-icon>
                <ion-thumbnail slot="start">
                  <img src="{{ porcao.image }}">
                </ion-thumbnail>
                <ion-label>{{ porcao.description }}</ion-label>
                <ion-label>R$ {{ porcao.price }}</ion-label>
              </ion-item>
            </ng-container>
          </ng-container>
          <ng-container *ngFor="let bebida of this.bebidas">
            <ng-container *ngIf="bebida.selected">
              <ion-item>
                <ion-icon name="trash-outline" slot="start" (click)="selected3(bebida.id, bebida.selected)"></ion-icon>
                <ion-thumbnail slot="start">
                  <img src="{{ bebida.image }}">
                </ion-thumbnail>
                <ion-label>{{ bebida.description }}</ion-label>
                <ion-label>R$ {{ bebida.price }}</ion-label>
              </ion-item>
            </ng-container>
          </ng-container>
          <ion-item lines="none">
            <div *ngIf="hasCartItem && hasCartItem.length > 0">
              <p>Total: R$ {{ totalpreco.toFixed(2) }}</p>
            </div>          
            <ion-button slot="end" size="small" (click)="setOpen(true)">Finalizar</ion-button>
          </ion-item>
        </div>
      </div>
    </ng-container>
  </ng-container>
  
  
  <ion-modal [isOpen]="isModalOpen">
    <ng-template>
      <ng-container *ngIf="this.step == 1">
        <ion-header>
          <ion-toolbar>
            <ion-buttons slot="start">
              <ng-container *ngIf="this.settingAddress">
                <ion-button (click)="setOpen(false)">
                  <ion-label>Cancelar</ion-label>
                  <ion-icon name="close-outline" slot="end"></ion-icon>
                </ion-button>
              </ng-container>
            </ion-buttons>
            <ion-buttons slot="end">
              <ion-button (click)="trocarStep(2)">
                <ion-label>Proximo</ion-label>
                <ion-icon name="checkmark-done-outline" slot="end"></ion-icon>
              </ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
        <ion-content>
          <ion-row class="ion-justify-content-center">
                <ion-col size="12" size-lg="6">
                  <form>
                    <ion-item lines="none">
                    </ion-item>
                    <ion-item>
                      <ion-input label="Nome" name="nome"  type="text"></ion-input>
                    </ion-item>
                    <ion-item>
                      <ion-input label="Telefone" name="telefone"  type="text"></ion-input>
                    </ion-item>
                    <ion-item>
                      <ion-input label="CEP" name="cep" type="text"></ion-input>
                    </ion-item>
                    <ion-item>
                      <ion-input label="Bairro" name="bairro"  type="text"></ion-input>
                    </ion-item>
                    <ion-item>
                      <ion-input label="Rua" name="rua"  type="text"></ion-input>
                    </ion-item>
                    <ion-item>
                      <ion-input label="Numero" name="numero" type="text"></ion-input>
                    </ion-item>
                      
                  </form>
            </ion-col>
          </ion-row> 
        </ion-content>
      </ng-container>
      <ng-container *ngIf="this.step == 2">
          <ion-header>
          <ion-toolbar>
            <ion-buttons slot="start">
              <ng-container>
                <ion-button (click)="trocarStep(1)">
                  <ion-label>Voltar</ion-label>
                  <ion-icon name="arrow-back-circle-outline"></ion-icon>
                </ion-button>
              </ng-container>
            </ion-buttons>
            <ion-buttons slot="end">
              <ion-button id="present-alert" (click)="setOpen(false)">Finalizar</ion-button>
              <ion-icon name="checkmark-done-outline" slot="end"></ion-icon>
              <ion-alert
                trigger="present-alert"
                header="Pedidio Enviado"
                [buttons]="alertButtons"
              ></ion-alert>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
        <ion-row class="escolhaPagamento ion-justify-content-center">
          <ion-accordion-group>
            <ion-radio-group value="money">
              <ion-accordion value="first">
                <ion-item slot="header" color="light">
                  <ion-label>Pagar na Entrega</ion-label>
                </ion-item>
                <div class="ion-padding" slot="content">
                  <ion-item>
                    <ion-radio value="local-money">Dinheiro</ion-radio><br />
                  </ion-item>
                  <ion-item>
                    <ion-radio value="local-credit-card">Cartão</ion-radio><br />
                  </ion-item>
                </div>
              </ion-accordion>
              <ion-accordion value="second">
                <ion-item slot="header" color="light">
                  <ion-label>Pagar Online</ion-label>
                </ion-item>
                <div class="ion-padding" slot="content">
                  <ion-item>
                    <ion-radio value="online-credit-card">Cartão</ion-radio><br />
                  </ion-item>
                  <ion-item>
                    <ion-radio value="online-pix">Pix</ion-radio><br />
                  </ion-item>
                </div>
              </ion-accordion>
            </ion-radio-group>
          </ion-accordion-group>
        </ion-row>
        </ng-container>  
    </ng-template>
  </ion-modal>
  
   -->
  
  
  
  
  
  
  

  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  <!--
    FORMULÁRIO CRIAR CONTA
    <ion-row class="ion-justify-content-center">
      <ion-col size="12" size-lg="6">
        <form #criarContaForm="ngForm" (ngSubmit)="criarConta(criarContaForm.value)">
          <ion-item lines="none">
            <ion-label>Criar Conta</ion-label>
          </ion-item>
          <ion-item>
            <ion-input label="Usuário" name="email" ngModel type="text"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input label="Senha" name="password" ngModel type="password"></ion-input>
          </ion-item>
          <ion-item lines="none">
            <ion-button color="light" slot="start" routerLink="/home">Voltar</ion-button>
            <ion-button color="light" slot="end" type="submit">Cadastrar</ion-button>
          </ion-item>
        </form>
      </ion-col>
    </ion-row>
   
   FORMULÁRIO DE LOGIN 
    <ion-row class="ion-justify-content-center">
      <ion-col size="12" size-lg="6">
        <form #loginForm="ngForm" (ngSubmit)="realizarLogin(loginForm.value)">
          <ion-item lines="none">
            <ion-label>Login</ion-label>
          </ion-item>
          <ion-item>
            <ion-input label="Usuário" name="email" ngModel type="text"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input label="Senha" name="password" ngModel type="password"></ion-input>
          </ion-item>
          <ion-item lines="none">
            <ion-button color="light" slot="end" type="submit">
              <ng-container *ngIf="this._authenticate.isLoading">
                <ion-spinner></ion-spinner>
              </ng-container>
              <ng-container *ngIf="!this._authenticate.isLoading">
                Login
              </ng-container>
            </ion-button>
          </ion-item>
        </form>
      </ion-col>
    </ion-row> -->
    <!-- FORMULÁRIO PARA INSERIR UM NOVO ALUNO  -->
    - 
    <!-- TEMPLATE PARA ENVIAR ARQUIVO PARA O FIREBASE 
      <ion-row class="ion-justify-content-center">
        <ion-col size="12" size-lg="6">
          <ion-item>
            <input type="file" value="Upload" (change)="memorizarArquivo($event)">
          </ion-item>
          <ion-item>
            <ion-button color="medium" slot="end" size="small" (click)="fazerUpload()">Enviar Tarefa</ion-button>
          </ion-item>
        </ion-col>
      </ion-row>
  
      <ion-row class="ion-justify-content-center">
        <ion-col size="12" size-lg="6">
          <ion-item>
            <img src="https://firebasestorage.googleapis.com/v0/b/projetoexemplo-e640c.appspot.com/o/minha_imagem.jpeg?alt=media&token=5b63e63b-081b-493b-981d-4ff73b18b14e" alt="">
          </ion-item>
        </ion-col>
      </ion-row> -->
  
  
    
      <!-- [(lanche.quantidade)] -->
  </ion-content>  
</div>


