<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-row class="link-meu">
      <ion-col size="12">
        <a href="../home/home.page.html">Cardapio</a>
      </ion-col>
      <ion-col size="12">
        <a href="#">Fale Conosco</a>
      </ion-col>
      <ion-col size="12">
        <a href="#">Termos de Uso</a>
      </ion-col>
      <ion-col size="12">
        <a href="../politica/politica.page.html">Politica de Privacidade</a>
      </ion-col>
      <ion-col size="12">
        <a href="#">Login</a>
      </ion-col> 
  </ion-row>
  </ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <a href="../home/home.page.html" slot="end"><img src="../../assets/logo nova tcc/sem fundo/sem fundo 2.png" alt="logo" width="120px"></a>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding"> 
  
    <ion-segment (ionChange)="trocarElemento($event)">
      <ion-segment-button value="lanches">
        <ion-label>LANCHES</ion-label>
      </ion-segment-button>
      <ion-segment-button value="porcoes">
        <ion-label>PORÇÕES</ion-label>
      </ion-segment-button>
      <ion-segment-button value="bebidas">
        <ion-label>BEBIDAS</ion-label>
      </ion-segment-button>
    </ion-segment>

    <ng-container>
      <ion-row class="lanches ion-justify-content-center" id="lanches">
        <ng-container *ngFor="let produto of this.produtos">
          <ng-container *ngIf="trocarElement == 'produto.type = 'lanche''">
          <ng-container *ngIf="produto.type == 'lanche'">
            <ng-container *ngIf="produto.enabled">
              <ng-container *ngIf="produto.price">
                <ion-col size="2">
                  <ion-card>
                    <img src="{{ produto.image }}" width="400px" height="400px"/>
                    <ion-card-header>
                      <ion-card-title>{{ produto.description }}</ion-card-title>
                      <ion-card-subtitle>
                        <ion-row>
                          <ion-col>
                            <ion-label>
                              <h2 class="price"> R$ {{ produto.price }}</h2>
                            </ion-label>
                          </ion-col>
                          <ion-col size="auto" class="ion-text-end" (click)="selected(produto.id, produto.selected)">
                            <ng-container *ngIf="produto.selected">
                              <ion-icon name="remove-outline"></ion-icon>
                            </ng-container>
                            <ng-container *ngIf="!produto.selected">
                              <ion-icon name="add-outline"></ion-icon>
                            </ng-container>
                          </ion-col>
                        </ion-row>
                      </ion-card-subtitle>
                    </ion-card-header>      
                    <ion-card-content>
                      {{ produto.items }}
                    </ion-card-content>
                  </ion-card>
                </ion-col>
              </ng-container>
            </ng-container>
          </ng-container>
        </ng-container>
        <ng-container *ngIf="trocarElement == 'produto.type = 'porcao''">
          <ng-container *ngIf="produto.type == 'porcao'">
            <ng-container *ngIf="produto.enabled">
              <ng-container *ngIf="produto.price">
                <ion-col size="2">
                  <ion-card>
                    <img src="{{ produto.image }}" width="400px" height="400px"/>
                    <ion-card-header>
                      <ion-card-title>{{ produto.description }}</ion-card-title>
                      <ion-card-subtitle>
                        <ion-row>
                          <ion-col>
                            <ion-label>
                              <h2 class="price"> R$ {{ produto.price }}</h2>
                            </ion-label>
                          </ion-col>
                          <ion-col size="auto" class="ion-text-end" (click)="selected(produto.id, produto.selected)">
                            <ng-container *ngIf="produto.selected">
                              <ion-icon name="remove-outline"></ion-icon>
                            </ng-container>
                            <ng-container *ngIf="!produto.selected">
                              <ion-icon name="add-outline"></ion-icon>
                            </ng-container>
                          </ion-col>
                        </ion-row>
                      </ion-card-subtitle>
                    </ion-card-header>      
                    <ion-card-content>
                      {{ produto.items }}
                    </ion-card-content>
                  </ion-card>
                </ion-col>
              </ng-container>
            </ng-container>
          </ng-container>
        </ng-container>

        <ng-container *ngIf="trocarElement == 'produto.type = 'porcao''">
          <ng-container *ngIf="produto.type == 'bebida'">
            <ng-container *ngIf="produto.enabled">
              <ng-container *ngIf="produto.price">
                <ion-col size="2">
                  <ion-card>
                    <img src="{{ produto.image }}" width="400px" height="400px"/>
                    <ion-card-header>
                      <ion-card-title>{{ produto.description }}</ion-card-title>
                      <ion-card-subtitle>
                        <ion-row>
                          <ion-col>
                            <ion-label>
                              <h2 class="price"> R$ {{ produto.price }}</h2>
                            </ion-label>
                          </ion-col>
                          <ion-col size="auto" class="ion-text-end" (click)="selected(produto.id, produto.selected)">
                            <ng-container *ngIf="produto.selected">
                              <ion-icon name="remove-outline"></ion-icon>
                            </ng-container>
                            <ng-container *ngIf="!produto.selected">
                              <ion-icon name="add-outline"></ion-icon>
                            </ng-container>
                          </ion-col>
                        </ion-row>
                      </ion-card-subtitle>
                    </ion-card-header>      
                    <ion-card-content>
                      {{ produto.items }}
                    </ion-card-content>
                  </ion-card>
                </ion-col>
              </ng-container>
            </ng-container>
          </ng-container>
        </ng-container>
        </ng-container>
      </ion-row>
    </ng-container>
  </ion-content>  
</div>


