<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-row class="link-meu">
      <ion-col size="12">
        <a href="../home/home.page.html">Cardapio</a>
      </ion-col>
      <ion-col size="12">
        <a href="#">Fale Conosco</a>
      </ion-col>
      <ion-col size="12">
        <a href="#">Termos de Uso</a>
      </ion-col>
      <ion-col size="12">
        <a href="../politica/politica.page.html">Politica de Privacidade</a>
      </ion-col>
      <ion-col size="12">
        <a href="#">Login</a>
      </ion-col> 
  </ion-row>
  </ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <a href="../home/home.page.html" slot="end"><img src="../../assets/logo nova tcc/sem fundo/sem fundo 2.png" alt="logo" width="120px"></a>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding"> 
    
      <ion-row>
        <ion-col size="12">
          <ion-text>
            <div class="ion-text-center">
              <h1 >Política de Privacidade do Fleet Flavor</h1>
              <h2>Última atualização: 06/09/2023</h2>
              <p class="text-top">Agradecemos por escolher utilizar o nosso aplicativo de delivery. A sua privacidade é fundamental para nós, e estamos comprometidos em proteger as informações pessoais que você compartilha conosco. Esta política de privacidade descreve como coletamos, usamos e protegemos suas informações pessoais quando você utiliza nosso aplicativo de delivery. Por favor, leia atentamente esta política e entre em contato conosco caso tenha alguma dúvida ou preocupação relacionada à sua privacidade.</p>
            </div>
            
            <main>
            <h1>Informações Coletadas</h1>
            <h2>Ao utilizar nosso aplicativo de delivery, podemos coletar as seguintes informações:</h2>
            
           
           <h3>1. Informações de Cadastro: </h3>
            <p>Coletamos informações pessoais como nome, endereço de e-mail, número de telefone e endereço de entrega quando você cria uma conta em nosso aplicativo.</p>
            
              <h3>2. Informações de Pagamento:</h3>
              <p>Quando você realiza pedidos, podemos coletar informações de pagamento, como número de cartão de crédito, informações de faturamento e detalhes de pagamento.</p>
             
              <h3>3. Informações de Localização:</h3>
              <p>Podemos coletar informações de localização precisas do seu dispositivo móvel para fornecer serviços de entrega eficientes e precisos.</p>
            
              <h3>4. Informações do Pedido:</h3>
              <p> Coletamos informações sobre os pedidos que você faz, incluindo itens selecionados, histórico de pedidos e preferências de entrega.</p>
           
              <h3>5. Informações de Uso: </h3>
              <p> Podemos registrar informações sobre como você utiliza nosso aplicativo, incluindo interações com o aplicativo, tempos de uso e páginas visualizadas.</p>
           
    
            
            <h1>Uso das Informações</h1>
            <h2>Utilizamos as informações coletadas para os seguintes fins:</h2>
    
            <h3>1. Fornecer Serviços de Delivery:</h3>
            <p>Utilizamos suas informações para processar pedidos, fornecer informações sobre entregas e garantir uma experiência de entrega suave.</p>
    
            <h3> 2. Melhorar o Aplicativo:</h3>
            <p>Analisamos informações de uso para melhorar a funcionalidade e a usabilidade do nosso aplicativo de delivery.</p>
    
            <h3>3. Comunicações:</h3>
            <p>Podemos enviar comunicações relacionadas ao serviço, como confirmações de pedidos e atualizações sobre entregas.</p>
    
            <h3>4. Marketing e Promoções:</h3>
            <p>Com seu consentimento, podemos enviar promoções, ofertas especiais e informações sobre nossos serviços.</p>
    
            <h1>Compartilhamento de Informações</h1>
            <h2> Não compartilhamos suas informações pessoais com terceiros, exceto nas seguintes circunstâncias:</h2>
    
            <h3>1. Parceiros de Entrega:</h3>
            <p>Compartilhamos informações relevantes com nossos parceiros de entrega para garantir a entrega eficiente de pedidos.</p>
    
            <h3>2. Cumprimento Legal:</h3>
            <p>Podemos divulgar suas informações em resposta a solicitações legais ou para cumprir obrigações regulatórias.</p>
    
            <h1>Segurança das Informações</h1>
            <p>Tomamos medidas rigorosas para proteger suas informações pessoais contra acesso não autorizado, uso indevido ou divulgação. Utilizamos medidas de segurança físicas, técnicas e administrativas para garantir a segurança dos seus dados.</p>
    
            <h1>Seus Direitos</h1>
            <p>Você tem direitos em relação às suas informações pessoais, incluindo o direito de acessar, corrigir, atualizar ou excluir seus dados. Caso deseje exercer esses direitos, entre em contato conosco através dos canais disponibilizados no aplicativo.</p>
    
            <h1>Alterações na Política de Privacidade</h1>
            <p>Esta política de privacidade pode ser atualizada periodicamente. Recomendamos que você reveja esta política periodicamente para estar ciente das alterações.</p>
            <p>Ao continuar a utilizar nosso aplicativo de delivery, você concorda com os termos desta política de privacidade.</p>
            
            <h1>Contato</h1>
            <p>Se tiver alguma dúvida, comentário ou preocupação sobre esta política de privacidade ou nossas práticas de privacidade, entre em contato conosco através dos seguintes meios:</p>
            
            <a href="https://docs.google.com/forms/d/e/1FAIpQLSfuNdhuRudzyF25XVqFM78J6Dj2GxxDWotquF5dMvRRHLg1Fg/viewform?usp=sf_link" class="link-form">Clique aqui para acessar o nosso formulario de suporte</a>
            <p>Agradecemos por escolher nosso aplicativo de delivery. Estamos empenhados em proteger sua privacidade e proporcionar uma experiência de entrega excepcional.</p>
    
            
          </main>
          </ion-text>
        </ion-col>
      </ion-row>
    
  </ion-content>
</div>