<ion-content>
  <div class="top-side">
    <ion-header>
      <ion-toolbar>
        <ion-row>
          <ion-col size="6">
            <img src="../../assets/logo nova tcc/sem fundo/logo.png" alt="logo flavor fleet" width="150px">
          </ion-col>
          <ion-col size="6">
            <div class="menu-link">
            <ion-row>
              <ion-col size="2"><a>HOME</a></ion-col>
              <ion-col size="2"><a>CARDAPIO</a></ion-col>
              <ion-col size="2"><a>POLITICA & PRIVACIDADE</a></ion-col>
              <ion-col size="2"><a>LOGIN</a></ion-col>
            </ion-row>
          </div>
          </ion-col>
        </ion-row>
        <ion-row class="ion-justify-content-center">
          <ion-col size="6" class="ion-text-center">
            <h1 class="text-title-top">TEXT PRINCIPAL</h1>
            <p class="text-title-second">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Itaque repellendus officiis odio harum ab corporis quia placeat, molestiae adipisci, iusto ex laboriosam natus sit, maxime ut impedit minus ullam nisi?</p>
            <ion-button>VER CARDAPIO</ion-button>
          </ion-col>
          <ion-col size="6">
            <img src="https://static.vecteezy.com/system/resources/previews/021/952/451/original/tasty-hamburger-on-transparent-background-png.png" width="700px">
          </ion-col>
        </ion-row>
      </ion-toolbar>
    </ion-header>
  </div>
  <ion-segment [scrollable]="true" value="heart">
    <ion-segment-button value="home">
      <ion-icon name="home"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="heart">
      <ion-icon name="heart"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="pin">
      <ion-icon name="pin"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="star">
      <ion-icon name="star"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="call">
      <ion-icon name="call"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="globe">
      <ion-icon name="globe"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="basket">
      <ion-icon name="basket"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="barbell">
      <ion-icon name="barbell"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="trash">
      <ion-icon name="trash"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="person">
      <ion-icon name="person"></ion-icon>
    </ion-segment-button>
  </ion-segment>
  <ion-row>
    <ion-col size="12">
      <ion-row>
        <ion-col size="4">
          <ion-card><h1>card 1</h1></ion-card>
        </ion-col>
        <ion-col size="4">
          <ion-card><h1>card 2</h1></ion-card>
        </ion-col>
        <ion-col size="4">
          <ion-card><h1>card 3</h1></ion-card>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          <ion-card>
          <h1>card 4</h1>
        </ion-card>
        </ion-col>
        <ion-col size="6">
          <ion-card>
            <h1>card 5</h1>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12">
      <h1>TEXT SOBRE NAME</h1>
    </ion-col>
    <ion-col size="12">
      <p>text sobre</p>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12">
      <ion-row>
        <ion-col size="6">
          <ion-card><h1>card 1</h1></ion-card>
        </ion-col>
        <ion-col size="6">
          <ion-card><h1>card 2</h1></ion-card>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="4">
          <ion-card><h1>card 3</h1></ion-card>
        </ion-col>
        <ion-col size="4">
          <ion-card><h1>card 4</h1></ion-card>
        </ion-col>
        <ion-col size="4">
          <ion-card><h1>card 5</h1></ion-card>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
</ion-content>