<ion-content>
  <div class="top-side">
    <ion-header>
        <ion-row>
          <ion-col size="6">
            <img src="../../assets/logo nova tcc/sem fundo/logo.png" alt="logo flavor fleet" width="150px">
          </ion-col>
          <ion-col size="6">
            <div class="menu-link">
            <ion-row>
              <ion-col size="2"><a>HOME</a></ion-col>
              <ion-col size="2"><a>CARDAPIO</a></ion-col>
              <ion-col size="2"><a>POLITICA</a></ion-col>
              <ion-col size="2"><a>LOGIN</a></ion-col>
            </ion-row>
          </div>
          </ion-col>
        </ion-row>
        <ion-row class="ion-justify-content-center conteudo-top">
          <ion-col size="6">
            <div class="conteudo-text">
            <h1 class="text-title-top ion-text-uppercase">Delicie-se com uma explosão de sabores </h1>
            <p class="text-title-second">Explore nosso site e descubra um mundo de sabores! Navegue em nosso cardápio, faça reservas, e mantenha-se atualizado com ofertas especiais e eventos emocionantes. Sua jornada gastronômica começa aqui.</p>
            <ion-button shape="round">VER CARDAPIO</ion-button>
          </div>
          </ion-col>
          <ion-col size="6">
            <img src="https://static.vecteezy.com/system/resources/previews/021/952/451/original/tasty-hamburger-on-transparent-background-png.png" width="300px">
          </ion-col>
        </ion-row>
    </ion-header>
  </div>
  <ion-row class="ion-justify-content-center  segments">
    <ion-col size="6" class="ion-text-center">
      <ion-segment >
        <ion-segment-button value="home">
          <img src="../../assets/produtos/hambueguer.png" alt="" width="50px">
        </ion-segment-button>
        <ion-segment-button value="heart">
         <img src="../../assets/produtos/sorvete 2.png" alt="" width="50px">
        </ion-segment-button>
        <ion-segment-button value="pin">
       <img src="../../assets/produtos/chicket.png" alt="" width="50px">
        </ion-segment-button>
        <ion-segment-button value="star">
        <img src="../../assets/produtos/batata.png" alt="" width="50px">
        </ion-segment-button>
        <ion-segment-button value="call">
        <img src="../../assets/produtos/istockphoto-508707347-170667a.png" alt="" width="50px">
        </ion-segment-button>

      </ion-segment>
    </ion-col>
  </ion-row>
  <!-- <ion-row>
    <ion-col size="12">
      <ion-row>
        <ion-col size="4">
          <ion-card><h1>card 1</h1></ion-card>
        </ion-col>
        <ion-col size="4">
          <ion-card><h1>card 2</h1></ion-card>
        </ion-col>
        <ion-col size="4">
          <ion-card><h1>card 3</h1></ion-card>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          <ion-card>
          <h1>card 4</h1>
        </ion-card>
        </ion-col>
        <ion-col size="6">
          <ion-card>
            <h1>card 5</h1>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12">
      <h1>TEXT SOBRE NAME</h1>
    </ion-col>
    <ion-col size="12">
      <p>text sobre</p>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12">
      <ion-row>
        <ion-col size="6">
          <ion-card><h1>card 1</h1></ion-card>
        </ion-col>
        <ion-col size="6">
          <ion-card><h1>card 2</h1></ion-card>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="4">
          <ion-card><h1>card 3</h1></ion-card>
        </ion-col>
        <ion-col size="4">
          <ion-card><h1>card 4</h1></ion-card>
        </ion-col>
        <ion-col size="4">
          <ion-card><h1>card 5</h1></ion-card>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row> -->
</ion-content>