@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');
*{
    margin:0;
    padding: 0;
    // outline: 1px dashed orange;
}
.top-side{
    background-color: #F29F05;
    height: 80%;
    & ion-header{
        margin-left: 10%;
    }
    & .menu-link{
        margin-top: 8%;
        & a{
            color: white;
            
        }
        
    }
    & .conteudo-top{
        margin-left: 10%;
        margin-top: 2%;
        & .conteudo-text{
            width: 50%;
        }
        & .text-title-top{
            font-size: 3em;
            font-family: 'Merriweather', serif;
            font-weight: bold;
            color: white;
        }
        & .text-title-second{
            margin-top: 10px;
            font-size: 0.8em;
            font-family: 'Merriweather', serif;
            font-weight: bold;
            color: white;
        }
        & ion-button{
            margin-top: 20px;
            --background: #F27405;
            
            font-weight: bold;
            color: white;
        }
    }
}
.conteudo-card{
    background-color: #000080;
    & .card-mid-top{
        & ion-card{
            height: 200px;
            margin: 20px;
            & h1{
                
                font-weight: bold;
                font-size: 2em;
                
            }
        }
    }
}
ion-footer{ 
    & .footer-top{
        background-color: black;
        
        & .col-footer-2{
            margin-top: 50px;
            h2{
                color: white;
                margin-top: 50px;
                font-weight: bold;
                font-size: 1.2em;
            }
            ion-label{
                
                color: rgb(160, 159, 159);
            }
        }  
        & .col-footer-3{
            margin-top: 50px;
            h2{
                color: white;
                margin-top: 50px;
                font-weight: bold;
                font-size: 1.2em;
            }
            ion-label{
               
                color: rgb(160, 159, 159);
            }
        }  
        & .col-footer-4{
            margin-top: 50px;
            h2{
                color: white;
                margin-top: 50px;
                font-weight: bold;
                font-size: 1.2em;               
            }
            ion-label{
               
                color: rgb(160, 159, 159);
            }
        }  
        & .col-footer-5{
            margin-top: 50px;
            h2{
                color: white; 
                margin-top: 50px;
                font-weight: bold;
                font-size: 1.2em;              
            }
            ion-label{
               
                color: rgb(160, 159, 159);
            }
        }  
        & .col-footer-6{
            margin-top: 100px;
        }
    }
    & .footer-bottom{
        height: 100px;
        background-color: red;
        & .text-footer{
            margin-top: 50px;
            & ion-label{           
            color: white;
            
        }
        }
       
    }
}

